<ngx-loading [show]="processing"></ngx-loading>
<div class="row map-wrapper">
	<div class="col-sm-12 col-md-3 search-container">
		
		<div class="row">
			<div class="col-md-12">
				<h4>Earthquake Visualization</h4>
				<p>This webpage visualizes earthquake events within the Philippines.</p>
				<p>Enter the dates below to know the events from the chosen timeline.</p>
			</div>
		</div>

		<div class="row" *ngIf="connectError">
			<div class="col-md-12 alert alert-danger" role="alert">
			  Can't connect to server. Please try again later.
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form method="POST" [formGroup]="searchForm">
					<div class="form-group row">
						<div class="col-md-12" >
				            <label class="" for="from">From</label>
				            <input 
				            	formControlName="from"
				            	[owlDateTimeTrigger]="from" 
				            	[owlDateTime]="from">
				            <!-- <owl-date-time
				               formControlName="from"
                               [pickerType]="'calendar'"></owl-date-time> -->
    						<owl-date-time [pickerType]="'calendar'" #from></owl-date-time>
				        </div>
				        <div class="col-md-12">
                            <validation-field 
                                [displayError]="this.validationFieldService.isFieldValid('from')" 
                                field="from" 
                                [errorMsg]="this.validationFieldService.getError('from','From')">
                            </validation-field>
                        </div>
				    </div>
				    <div class="form-group row">
						<div class="col-md-12">
				            <label class="" for="to">To</label>
				            <input 
				            	formControlName="to"
				            	[owlDateTimeTrigger]="to" 
				            	[owlDateTime]="to">
				            <!-- <owl-date-time
				               formControlName="to"
                               [pickerType]="'calendar'"></owl-date-time> -->
    						   <owl-date-time [pickerType]="'calendar'" #to></owl-date-time>
				        </div>
				        <div class="col-md-12">
                            <validation-field 
                                [displayError]="this.validationFieldService.isFieldValid('to')" 
                                field="to" 
                                [errorMsg]="this.validationFieldService.getError('to','To')">
                            </validation-field>
                        </div>
				    </div>


				    <div class="form-actions">
				        <div class="form-group row">
				            <div class="col-sm-12 col-md-6 text-center btn-container">
				                <button type="button"  (click)="save(searchForm.value)" [disabled]="processing" class="btn btn-primary btn-block" type="button">Search</button>
				            </div>
				            <div class="col-sm-12 col-md-6 text-center btn-container">
				                <button type="button"  (click)="clear()" [disabled]="processing" class="btn btn-primary btn-block" type="button">Clear</button>
				            </div>
				        </div>
				    </div>
				</form>
			</div>
		</div>

		<div class="row footer">
			<div class="col-md-12 text-right">
				<p>Created with <i class="fa fa-heart"></i> by Coleen Kier Ambrosio</p>
			</div>
		</div>

	</div>
	<div class="col-sm-12 col-md-9 map-container">
		<map></map>
		<!-- <div id="googleMap"></div> -->
	</div>
</div>